<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __was_tmp_dir }}'/>
    <repository location='{{ __java_tmp_dir }}'/>
  </server>
  <profile id='WebSphere Liberty V8.5' installLocation='{{ __was_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
  </profile>
  <install>
    <!-- IBM WebSphere Application Server Liberty Core 8.5.5.5 -->
    <offering profile='WebSphere Liberty V8.5' id='com.ibm.websphere.liberty.v85' version='{{ __was_version }}' features='liberty,embeddablecontainer'/>
    <!-- IBM WebSphere SDK Java Technology Edition Version 7.0 for Liberty 7.0.4.1 -->
    <offering profile='WebSphere Liberty V8.5' id='com.ibm.websphere.liberty.IBMJAVA.v70' version='{{ __java_version }}' features='com.ibm.sdk.7'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>