<?xml version="1.0" encoding="UTF-8"?><!--HTTP server plugin config file for String generated on 2019.03.04 at 20:20:20 UTC-->
<Config ASDisableNagle="false" AcceptAllContent="false" AppServerPortPreference="HostHeader" ChunkedResponse="false" FIPSEnable="false" IISDisableNagle="false" IISPluginPriority="High" IgnoreDNSFailures="false" RefreshInterval="60" ResponseChunkSize="64" SSLConsolidate="false" TrustedProxyEnable="false" VHostMatchingCompat="false">
   <Log LogLevel="Error" Name="String/logs/String/http_plugin.log"/>
   <Property Name="ESIEnable" Value="true"/>
   <Property Name="ESIMaxCacheSize" Value="1024"/>
   <Property Name="ESIInvalidationMonitor" Value="false"/>
   <Property Name="ESIEnableToPassCookies" Value="false"/>
   <Property Name="PluginInstallRoot" Value="String"/>
<!-- Configuration generated using httpEndpointRef=defaultHttpEndpoint-->
<!-- The default_host contained only aliases for endpoint defaultHttpEndpoint.
	 The generated VirtualHostGroup will contain only configured web server ports:
		webserverPort=80
		webserverSecurePort=443 -->
   <VirtualHostGroup Name="default_host">
      <VirtualHost Name="*:80"/>
      <VirtualHost Name="*:443"/>
   </VirtualHostGroup>
   <ServerCluster CloneSeparatorChange="false" GetDWLMTable="false" IgnoreAffinityRequests="true" LoadBalance="Round Robin" Name="AC_Cluster" PostBufferSize="0" PostSizeLimit="-1" RemoveSpecialHeaders="true" RetryInterval="60">
      <Server CloneID="{{ __ac_cloneid }}" ConnectTimeout="5" ExtendedHandshake="false" MaxConnections="-1" Name="default_node_String" ServerIOTimeout="900" WaitForContinue="false">
         <Transport Hostname="{{ __mfp_ac_host }}" Port="9080" Protocol="http"/>
         <Transport Hostname="{{ __mfp_ac_host }}" Port="9443" Protocol="https">
            <Property Name="keyring" Value="keyring.kdb"/>
            <Property Name="stashfile" Value="keyring.sth"/>
            <Property Name="certLabel" Value="LibertyCert"/>
         </Transport>
      </Server>
      <PrimaryServers>
         <Server Name="default_node_String"/>
      </PrimaryServers>
   </ServerCluster>
   <UriGroup Name="AC_Cluster_URIs">
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/appcenterconsole/*"/>
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/applicationcenter/*"/>
   </UriGroup>
   <ServerCluster CloneSeparatorChange="false" GetDWLMTable="false" IgnoreAffinityRequests="true" LoadBalance="Round Robin" Name="OA_Cluster" PostBufferSize="0" PostSizeLimit="-1" RemoveSpecialHeaders="true" RetryInterval="60">
      <Server CloneID="{{ __oa_cloneid }}" ConnectTimeout="5" ExtendedHandshake="false" MaxConnections="-1" Name="default_node_String" ServerIOTimeout="900" WaitForContinue="false">
         <Transport Hostname="{{ __mfp_oa_host }}" Port="9080" Protocol="http"/>
         <Transport Hostname="{{ __mfp_oa_host }}" Port="9443" Protocol="https">
            <Property Name="keyring" Value="keyring.kdb"/>
            <Property Name="stashfile" Value="keyring.sth"/>
            <Property Name="certLabel" Value="LibertyCert"/>
         </Transport>
      </Server>
      <PrimaryServers>
         <Server Name="default_node_String"/>
      </PrimaryServers>
   </ServerCluster>
   <UriGroup Name="OA_Cluster_URIs">
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/analytics/*"/>
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/analytics-service/*"/>
   </UriGroup>
   <ServerCluster CloneSeparatorChange="false" GetDWLMTable="false" IgnoreAffinityRequests="true" LoadBalance="Round Robin" Name="MFS_Cluster" PostBufferSize="0" PostSizeLimit="-1" RemoveSpecialHeaders="true" RetryInterval="60">
      <Server CloneID="{{ __fs_cloneid }}" ConnectTimeout="5" ExtendedHandshake="false" MaxConnections="-1" Name="default_node_String" ServerIOTimeout="900" WaitForContinue="false">
         <Transport Hostname="{{ __mfp_fs_host }}" Port="9080" Protocol="http"/>
         <Transport Hostname="{{ __mfp_fs_host }}" Port="9443" Protocol="https">
            <Property Name="keyring" Value="keyring.kdb"/>
            <Property Name="stashfile" Value="keyring.sth"/>
            <Property Name="certLabel" Value="LibertyCert"/>
         </Transport>
      </Server>
      <PrimaryServers>
         <Server Name="default_node_String"/>
      </PrimaryServers>
   </ServerCluster>
   <UriGroup Name="MFS_Cluster_URIs">
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/mfpconsole/*"/>
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/mfpadmin/*"/>
   </UriGroup>
   <Route ServerCluster="AC_Cluster" UriGroup="AC_Cluster_URIs" VirtualHostGroup="default_host"/>
   <Route ServerCluster="OA_Cluster" UriGroup="OA_Cluster_URIs" VirtualHostGroup="default_host"/>
   <Route ServerCluster="MFS_Cluster" UriGroup="MFS_Cluster_URIs" VirtualHostGroup="default_host"/>
</Config>
