<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __mfp_repo_dir }}'/>
  </server>
  <profile id='IBM MobileFirst Platform Server' installLocation='{{ __mfp_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='user.use.ios.edition' value='false'/>
    <data key='user.windows.profilesubdir' value='was8\MobileFirst Platform Server'/>
    <data key='user.shortcuts.folder5' value='IBM MobileFirst Platform Server 8.0'/>
    <data key='user.update.minimal' value='false'/>
    <data key='user.licensed.by.tokens' value='false'/>
    <data key='user.database.selection2' value='none'/>
    <data key='user.database.preinstalled' value='false'/>
    <data key='user.appserver.selection2' value='none'/>
    <data key='user.devops.server.dir' value='MobileFirstServer'/>
    <data key='user.writable.data.user' value=''/>
    <data key='user.writable.data.group2' value=''/>
  </profile>
  <install>
    <!-- IBM® MobileFirst Platform Server 8.0.0.20160822_1948 -->
    <offering profile='IBM MobileFirst Platform Server' id='com.ibm.mobilefirst.foundation.server' version='{{ __mfp_version }}' features='main.feature'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>